
/* -------------------------------- */
/* ----- PROPRIÉTÉS GÉNÉRALES ----- */
/* -------------------------------- */

.container{
	max-width: 1200px;
	padding: 0 5%;
	margin: 0 auto;
}

body{
	font-size: 1.3rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---------------------------------- */
/* -------- POSITIONNEMENT ---------- */
/* ---------------------------------- */

.flex-btw{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ---------------------------------- */
/* ----- HEADER ET NAVIGATIONS ------ */
/* ---------------------------------- */

.main-header{background-color: black;}
.main-header a{ text-decoration: none;}

#home .main-header {
	min-height: 300px;
}
.logo {
	color:white;
	margin:0;
}

nav li{display: inline-block;}

nav a{
	color: #fff;
	display: inline-block;
	padding: 0.5rem 1rem;
}

.current{
	color: #000;
	background-color: #fff;
}

/* ---------------------------------- */
/* -------- CONTENUS DE PAGES ------- */
/* ---------------------------------- */

main {
	min-height: 600px; /* hauteur minimale; sinon la hauteur s'ajustera au contenu */
}

footer{
	background-color: black;
	min-height: 30px;
}